/*-------------------------
共通設定
-------------------------*/
.my-portfolio{
  --bacground-color: #7B7D80;
}

@media screen and (min-width: 750px) {
  .my-portfolio{
    --width-primary: 1400px;
  }
}

@media screen and (max-width: 750px) {
  .my-portfolio{
    --width-primary: 750px;
  }
}

/*-------------------------
ヘッダー
-------------------------*/
.my-portfolio .header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--width-primary);
  background-color: var(--bacground-color);
}

.my-portfolio .header__logo{
  width: 73px;
}

.my-portfolio .header__logo img{
  width: 100%;
  height: auto;
}

.my-portfolio .header__menu ul{
  display: flex;
  align-items: center;
  list-style-type: none;
}

.my-portfolio .header__menu li{
  font-size: 16px;
  margin-inline: 10px;
}


/*-------------------------
index.html
-------------------------*/
.my-portfolio .mv{
  position: relative;
}

.my-portfolio .mv__text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 100px;
  color: #fff;
}

.my-portfolio .mv__image{
  max-width: var(--width-primary);
}


/*-------------------------
profile.html
-------------------------*/

/*-------------------------
gallery.html
-------------------------*/

/*-------------------------
contact.html
-------------------------*/

/*-------------------------
フッター
-------------------------*/