/*-------------------------
共通設定
-------------------------*/
.my-portfolio{
  --bacground-color: #7B7D80;
  --font-ja: "Hiragino Mincho ProN",YuMincho,serif;
  --font-en: "inria-serif", sans-serif;
}

@media screen and (min-width: 768px) {
  .my-portfolio{
    --width-primary: 1400px;
  }
}

@media screen and (max-width: 767px) {
  .my-portfolio{
    --width-primary: 750px;
  }
}

/*-------------------------
ヘッダー
-------------------------*/
.my-portfolio .header{
  position: fixed;
  top: 0;
  width: 100%;
  /* max-width: var(--width-primary); */
  height: 130px;
  background-color: var(--bacground-color);
  z-index: 99;
}

.my-portfolio .header__contents{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1366px;
  margin-inline: auto;
  padding-top: 20px;
}

.my-portfolio .header__logo{
  width: 95px;
}

.my-portfolio .header__logo img{
  width: 100%;
  height: auto;
}

.my-portfolio .header__menu ul{
  display: flex;
  align-items: center;
  list-style-type: none;
}

.my-portfolio .header__menu li{
  font-family: var(--font-en);
  font-size: 40px;
  margin-inline: 40px;
}


/*-------------------------
MV
-------------------------*/
.my-portfolio .mv{
  position: relative;
}

.my-portfolio .mv__text{
  position: absolute;
  top: 48%;
  left: 24%;
  /* transform: translate(-50%, -50%); */
  /* -webkit-transform: translate(-50%, -50%); */
  /* -ms-transform: translate(-50%, -50%); */
  font-family: var(--font-en);
  font-size: 100px;
  font-feature-settings: "palt";
  color: #fff;
}

.my-portfolio .mv__image{
  max-width: var(--width-primary);
}


/*-------------------------
index.html
-------------------------*/
.my-portfolio .about__text{
  margin-top: 150px;
  font-family: var(--font-ja);
  font-size: 36px;
  line-height: 1.5;
  font-feature-settings: "palt";
  text-align: center;
}

.my-portfolio .content-wrapper{
  margin-top: 140px;
  margin-inline: auto;
  width: 1333px;
}

.my-portfolio .flex-wrapper{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.my-portfolio .content__item{
  position: relative;
}

.my-portfolio .content__image{
  width: 650px;
}

.my-portfolio .content__text p:nth-of-type(1){
  position: absolute;
  top: 0;
  left: 0;
  font-family: var(--font-en);
  font-size: 40px;
}

.my-portfolio .content__text p:nth-of-type(2){
  position: absolute;
  top: 0;
  left: 0;
  font-family: var(--font-ja);
  font-size: 16px;
}

.my-portfolio .content__text p:nth-of-type(3){
  position: absolute;
  top: 0;
  right: 0;
  font-family: var(--font-en);
  font-size: 25px;
}


/*-------------------------
profile.html
-------------------------*/

/*-------------------------
gallery.html
-------------------------*/

/*-------------------------
contact.html
-------------------------*/

/*-------------------------
フッター
-------------------------*/