/* ===============================================###
共通設定
###=============================================== */
.my-portfolio{
  background-color: #FAFAFA;
  --bacground-color: #7B7D80;
  --font-ja: "Hiragino Mincho ProN",YuMincho,serif;
  --font-en: "inria-serif", sans-serif;
}

:where(.my-portfolio) img,
:where(.my-portfolio) svg {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .my-portfolio{
    --width-primary: 1400px;
  }
}

@media screen and (max-width: 767px) {
  .my-portfolio{
    --width-primary: 750px;
  }
}



/* ===============================================###
ヘッダー
###=============================================== */
.my-portfolio .header{
  position: fixed;
  top: 0;
  width: 100%;
  /* max-width: var(--width-primary); */
  height: 130px;
  background-color: var(--bacground-color);
  z-index: 99;
}

.my-portfolio .header__contents{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1366px;
  margin-inline: auto;
  padding-top: 20px;
}

.my-portfolio .header__logo{
  width: 90px;
}

.my-portfolio .header__menu ul{
  display: flex;
  align-items: center;
  list-style-type: none;
}

.my-portfolio .header__menu li{
  font-family: var(--font-en);
  font-size: 20px;
  margin-inline: 40px;
}



/* ===============================================###
MV
###=============================================== */
.my-portfolio .mv{
  width: 100%;
}

/************** image **************/
/*** ページごとの背景画像設定 ***/
.my-portfolio .main .mv{
  height: 900px;
  background-image: url(../img/mv_home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.my-portfolio .profile .mv{
  height: 496px;
  background-image: url(../img/mv_profile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.my-portfolio .gallery .mv{
  height: 496px;
  background-image: url(../img/mv_gallery.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.my-portfolio .contact .mv{
  height: 496px;
  background-image: url(../img/mv_contact.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/************** text **************/
.my-portfolio .mv__text{
  font-family: var(--font-en);
  font-size: 96px;
  font-feature-settings: "palt";
  text-align: center;
  color: #fff;
}

.my-portfolio .gallery .mv__text{
  color: #000;
}

/*** ページごとの微調整 ***/
.my-portfolio .main .mv__text{
  padding-top: 410px;
}

.my-portfolio .profile .mv__text,
.my-portfolio .gallery .mv__text,
.my-portfolio .contact .mv__text{
  padding-top: 250px;
}


/* ===============================================###
各ページ共通設定
###=============================================== */
/*** flex ***/
.my-portfolio .flex-wrapper{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}

/*** text ***/
.my-portfolio .section__title{
  font-family: var(--font-en);
  font-size: 40px;
  text-align: center;
}




/* ===============================================###
index.html
###=============================================== */
.my-portfolio .about__text{
  margin-top: 150px;
  font-family: var(--font-ja);
  font-size: 26px;
  line-height: 1.5;
  letter-spacing: 3.5px;
  font-feature-settings: "palt";
  text-align: center;
}

.my-portfolio .content-wrapper{
  margin-top: 138px;
  margin-inline: auto;
  width: 1028px;
}

.my-portfolio .content__item{
  position: relative;
  width: 500px;
  height: 500px;
  border: 1px solid #000;
}

.my-portfolio .content__item::after{
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: .5;
  pointer-events: none;
}

.my-portfolio .content__image{
  /* width: 469px; */
  /* width: fit-content; */
}

.my-portfolio .main .item01{
  background-image: url(../img/link_image_profile.jpg);
  background-size: cover;
}

.my-portfolio .main .item02{
  background-image: url(../img/link_image_gallery.jpg);
  background-size: cover;
}


.my-portfolio .main .content__text p:nth-of-type(1){
  position: absolute;
  top: 45%;
  left: 33%;
  font-family: var(--font-en);
  font-size: 64px;
  z-index: 1;
}

.my-portfolio .main .item01 .content__text p:nth-of-type(2){
  position: absolute;
  top: 60%;
  left: 35%;
  font-family: var(--font-ja);
  font-size: 20px;
  z-index: 1;
}

.my-portfolio .main .item02 .content__text p:nth-of-type(2){
  position: absolute;
  top: 60%;
  left: 41%;
  font-family: var(--font-ja);
  font-size: 20px;
  z-index: 1;
}

.my-portfolio .main .content__text p:nth-of-type(3){
  position: absolute;
  bottom: 5%;
  right: 5%;
  font-family: var(--font-en);
  font-size: 30px;
  z-index: 1;
}


/* ===============================================###
profile.html
###=============================================== */
/* ===========### profile ###=========== */
.my-portfolio .profile__item{
  width: 922px;
  margin-inline: auto;
}

/*** flex ***/
.my-portfolio .profile .flex-wrapper{
  align-items: center;
}

/*** text ***/
.my-portfolio .profile .section__title{
  margin-top: 80px;
}

.my-portfolio .profile__text{
  width: 463px;
  font-family: var(--font-ja);
  font-size: 24px;
  line-height: 1.5;
}

/*** image ***/
.my-portfolio .profile__image{
  width: 314px;
  border: 1px solid #000;
  border-radius: 50%;
}


/* ===========### skills ###=========== */
.my-portfolio .skills{
  width: 1080px;
  margin-inline: auto;
}

.my-portfolio .skill__item{
  margin-top: 30px;
  width: 300px;
  height: 300px;
  background-color: #E8E6E6;
}

/*** text ***/
.my-portfolio .skill__item p:nth-of-type(1){
  margin-top: 100px;
  font-family: var(--font-en);
  font-size: 20px;
  text-align: center;
}

.my-portfolio .skill__item p:nth-of-type(2){
  margin-top: 30px;
  font-family: var(--font-ja);
  font-size: 14px;
  text-align: center;
}



/* ===============================================###
gallery.html
###=============================================== */
/* ===========### banner ###=========== */
.my-portfolio .banner{
  width: 1100px;
  margin-inline: auto;
}

.my-portfolio .banner .flex-wrapper{
  margin-top: 20px;
}

/*** text ***/
.my-portfolio .banner .section__title{
  margin-top: 80px;
}

/*** image ***/
.my-portfolio .banner .content__image{
  width: 300px;
}

/* ===========### LP ###=========== */
.my-portfolio .lp{
  width: 1100px;
  margin-top: 80px;
  margin-inline: auto;
}

.my-portfolio .lp .flex-wrapper{
  margin-top: 20px;
}

.my-portfolio .lp .content__image{
  width: 205px;
}


/* ===============================================###
contact.html
###=============================================== */
.my-portfolio .contact{
  width: 750px;
  margin-inline: auto;
}

.my-portfolio .contact .section__title{
  margin-top: 80px;
}

.my-portfolio .contact p{
  margin-top: 20px;
  font-family: var(--font-ja);
  font-size: 26px;
  text-align: center;
}

/*** form ***/
.my-portfolio .contact form{
  width: 400px;
  margin-inline: auto;
}

.my-portfolio .contact .form__item{
  margin-top: 50px;
}

.my-portfolio .contact input, label{
  display: block;
}

.my-portfolio .contact input{
  width: 100%;
  margin-top: 15px;
  border-bottom: 1px solid #000;
}

.my-portfolio .contact textarea{
  width: 100%;
  height: 100px;
  margin-top: 15px;
  border-bottom: 1px solid #000;
}

.my-portfolio .contact button{
  position: relative;
  width: 130px;
  height: 40px;
  border-radius: 10%;
  color: #fff;
  background-color: #000;
  text-align: center;
}

.my-portfolio .contact button:before{
  content: '';
  position: absolute;
  top: 0;
  left: -10px;
  width: 40px;
  height: 40px;
  background-color: #000;
  border-radius: 50%;
}

.my-portfolio .contact button:after{
  content: '';
  position: absolute;
  top: 0;
  right: -10px;
  width: 40px;
  height: 40px;
  background-color: #000;
  border-radius: 50%;
}


/* ===============================================###
フッター
###=============================================== */
.my-portfolio .footer{
  width: 100%;
  margin-top: 80px;
  /* max-width: var(--width-primary); */
  height: 130px;
  background-color: var(--bacground-color);
}

.my-portfolio .footer p{
  padding-top: 55px;
  padding-bottom: 55px;
  font-size: 18px;
  color: #fff;
  text-align: center;
}