/* ===============================================###
共通設定
###=============================================== */
.my-portfolio{
  --bacground-color: #7B7D80;
  --font-ja: "Hiragino Mincho ProN",YuMincho,serif;
  --font-en: "inria-serif", sans-serif;
}

:where(.my-portfolio) img,
:where(.my-portfolio) svg {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .my-portfolio{
    --width-primary: 1400px;
  }
}

@media screen and (max-width: 767px) {
  .my-portfolio{
    --width-primary: 750px;
  }
}



/* ===============================================###
ヘッダー
###=============================================== */
.my-portfolio .header{
  position: fixed;
  top: 0;
  width: 100%;
  /* max-width: var(--width-primary); */
  height: 130px;
  background-color: var(--bacground-color);
  z-index: 99;
}

.my-portfolio .header__contents{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1366px;
  margin-inline: auto;
  padding-top: 20px;
}

.my-portfolio .header__logo{
  width: 95px;
}

.my-portfolio .header__menu ul{
  display: flex;
  align-items: center;
  list-style-type: none;
}

.my-portfolio .header__menu li{
  font-family: var(--font-en);
  font-size: 16px;
  margin-inline: 40px;
}



/* ===============================================###
MV
###=============================================== */
.my-portfolio .mv{
  position: relative;
  /* max-width: var(--width-primary); */
  width: 100%;
}

.my-portfolio .mv__text{
  position: absolute;
  top: 48%;
  left: 24%;
  /* transform: translate(-50%, -50%); */
  /* -webkit-transform: translate(-50%, -50%); */
  /* -ms-transform: translate(-50%, -50%); */
  font-family: var(--font-en);
  font-size: 96px;
  font-feature-settings: "palt";
  color: #fff;
}

.my-portfolio .mv__image{
  /* max-width: var(--width-primary); */
  width: 100%;
}



/* ===============================================###
各ページ共通設定
###=============================================== */
/*** flex ***/
.my-portfolio .flex-wrapper{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}

/*** text ***/
.my-portfolio .section__title{
  font-family: var(--font-en);
  font-size: 40px;
  text-align: center;
}




/* ===============================================###
index.html
###=============================================== */
.my-portfolio .about__text{
  margin-top: 150px;
  font-family: var(--font-ja);
  font-size: 26px;
  line-height: 1.5;
  letter-spacing: 3.5px;
  font-feature-settings: "palt";
  text-align: center;
}

.my-portfolio .content-wrapper{
  margin-top: 138px;
  margin-inline: auto;
  width: 1028px;
}

.my-portfolio .content__item{
  position: relative;
  border: 1px solid #000;
}

.my-portfolio .content__item::after{
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: .5;
  pointer-events: none;
}

.my-portfolio .content__image{
  width: 469px;
}

.my-portfolio .content__text p:nth-of-type(1){
  position: absolute;
  top: 50%;
  left: 30%;
  font-family: var(--font-en);
  font-size: 64px;
  z-index: 1;
}

.my-portfolio .content__text p:nth-of-type(2){
  position: absolute;
  top: 65%;
  left: 32%;
  font-family: var(--font-ja);
  font-size: 20px;
  z-index: 1;
}

.my-portfolio .content__text p:nth-of-type(3){
  position: absolute;
  bottom: 5%;
  right: 5%;
  font-family: var(--font-en);
  font-size: 30px;
  z-index: 1;
}


/* ===============================================###
profile.html
###=============================================== */
/* ===========### profile ###=========== */
.my-portfolio .profile__item{
  width: 922px;
  margin-inline: auto;
}

/*** flex ***/
.my-portfolio .profile .flex-wrapper{
  align-items: center;
}

/*** text ***/
.my-portfolio .profile .section__title{
  margin-top: 80px;
}

.my-portfolio .profile__text{
  width: 463px;
  font-family: var(--font-ja);
  font-size: 26px;
}

/*** image ***/
.my-portfolio .profile__image{
  width: 314px;
  border: 1px solid #000;
  border-radius: 50%;
}


/* ===========### skills ###=========== */
.my-portfolio .skills{
  width: 1080px;
  margin-inline: auto;
}

.my-portfolio .skill__item{
  margin-top: 30px;
  width: 300px;
  height: 300px;
  background-color: #E8E6E6;
}

/*** text ***/
.my-portfolio .skill__item p:nth-of-type(1){
  margin-top: 40px;
  font-family: var(--font-en);
  font-size: 20px;
  text-align: center;
}

.my-portfolio .skill__item p:nth-of-type(2){
  margin-top: 20px;
  font-family: var(--font-ja);
  font-size: 16px;
  text-align: center;
}



/* ===============================================###
gallery.html
###=============================================== */



/* ===============================================###
contact.html
###=============================================== */



/* ===============================================###
フッター
###=============================================== */
.my-portfolio .footer{
  width: 100%;
  margin-top: 80px;
  /* max-width: var(--width-primary); */
  height: 130px;
  background-color: var(--bacground-color);
}

.my-portfolio .footer p{
  padding-top: 55px;
  padding-bottom: 55px;
  font-size: 18px;
  color: #fff;
  text-align: center;
}